files:
  "/etc/nginx/conf.d/elasticbeanstalk/00_application.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name develop.eba-i9x4vn3p.us-east-2.elasticbeanstalk.com;

          location / {
              proxy_pass http://localhost:8080;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }

          # Redirect HTTP to HTTPS
          location / {
              return 301 https://$host$request_uri;
          }
      }

      server {
          listen 443 ssl;
          server_name develop.eba-i9x4vn3p.us-east-2.elasticbeanstalk.com;

          ssl_certificate /etc/letsencrypt/live/develop.eba-i9x4vn3p.us-east-2.elasticbeanstalk.com/fullchain.pem;
          ssl_certificate_key /etc/letsencrypt/live/develop.eba-i9x4vn3p.us-east-2.elasticbeanstalk.com/privkey.pem;
          include /etc/letsencrypt/options-ssl-nginx.conf;
          ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

          location / {
              proxy_pass http://localhost:8080;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto $scheme;
          }
      }
